<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Poke-War</title>
    </head>
    <body>
        Success
        <h3>Access Token:</h3>
        <p><%- accessToken %></p>
        <a href="logout">Logout</a>
    </body>
</html>
